# I, Voyager project ignores:

/.godot/
export.cfg
export_presets.cfg
*.translation
/addons/ivoyager_assets/
/export/
~*

# Astropolis SDK:
override.cfg
ivoyager_override2.cfg
/assets/
/core/

# Remove below...
/astropolis_core/
/astropolis_assets/
