# I, Voyager project ignores:

/.godot/
export.cfg
export_presets.cfg
*.translation
/addons/ivoyager_assets/
/export/
~*

# Astropolis SDK:
override.cfg
/addons/astropolis_core/
/addons/astropolis_assets/
