# Astropolis SDK .gitignore (whitelist format)

# ignore everything
*

# whitelist
!addons/
!addons/**
!public/
!public/**
!.gitattributes
!.gitignore
!.gitmodules
!.ivoyager_override.cfg
!LICENCE.txt
!project.godot
!README.md

# ignore in whitelist
addons/ivoyager_assets/
*.translation
~*

